
body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: 12pt cantarell;
}
h1 {
    text-align: center;
    font-family: arial;
}
h2, .h2 {
    font-size: 15pt;
    font-family: arial;
}
.menu {
    background: linear-gradient(to bottom, rgba(240, 51, 240, 0.8), rgba(240, 51, 240, 0.3));
    border: none;
}             
.mainDisplay {
    background-color: rgba(255, 51, 255,.6);
    margin-top: 5%;
}
.menu-button {
    color : rgb(255, 180, 255);
    background-color: rgb(235, 21, 235);
    border-color: rgb(200, 0, 200);
    font-size: 130%;
}
.btn-default {
    color : rgb(255, 180, 255);
    background-color: rgb(235, 92, 235);
    border-color: rgb(200, 0, 200);
}
.btn-default:hover { border-color: rgb(235, 92, 235); }
.menu-button:hover, menu-button:focus, .btn-default:hover, .btn-default:focus {
    color : rgb(235, 21, 235);
    background-color: rgb(255, 180, 255);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(235, 21, 235, 0.9);
    z-index: 1;
}
.dropdown-content a {
    text-decoration: none;
    color: rgb(255, 180, 255);
    display: block;
    padding: 10px 10px;
    min-width: 100%;
    white-space: nowrap;
}
.dropdown-content a:hover { background-color: rgb(204, 0, 204); }
.dropdown:hover .dropdown-content { display: block; }

.form-control {
    background-color: rgba(204, 0, 204, 0.4);
    border: 1px solid rgb(255, 180, 255);
    color: rgb(255, 180, 255);
}
#menu_compte {
    background-color: rgba(153, 102, 255, 0.8);
    display: block;
    position: fixed;
    height: 100%;
    margin-top: 4%;
}
#resultat {
    border: 1px solid rgb(255, 180, 255);
    border-radius: 15px;
    width: 100%;
    height: 0px;
}

#modal_msg, #modal_msg > .panel-default {
    color: #1a001a;
    background: #ffe6ff;
    border: none;
}
#modal_msg > .panel > .panel-heading {
    color: #330033;
    background: #ffb3ff;
}